# First print your name in the cell below then save this file. (or something nice about your instructor)

In [5]:
#Colin Wong

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
listings = pd.read_csv("./data/listings.csv")

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
# 1. How many listings are there with a price less than 100? 
list_Num = listings[listings['price'] < 100].shape[0]
print(list_Num)

22778

In [5]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
df_bk = listings[listings['neighbourhood_group'] == "Brooklyn"]
print(df_bk)
print(df_bk.shape[0])

             id                                               name    host_id  \
1          3831  Whole flr w/private bdrm, bath & kitchen(pls r...       4869
2          5121                                    BlissArtsSpace!       7356
3          5136           Spacious Brooklyn Duplex, Patio + Garden       7378
8          5803     Lovely Room 1, Garden, Best Area, Legal rental       9744
11         6848                   Only 2 stops to Manhattan studio      15991
...         ...                                                ...        ...
46517  44802032                  A very large room in Williamsburg  213793805
46518  44802224  Unique & beautiful design! Skylights-Washer/dryer  143513836
46519  44803201  1200 SF Duplex apt in an old shoe factory/ mon...     921746
46524  44811717  Comfortable safe environment 24hr security camera  362453686
46526  44818009  5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN   48098268

             host_name neighbourhood_group       neighbourhood  latitude  \
1          LisaRoxanne            Brooklyn        Clinton Hill  40.68514
2                Garon            Brooklyn  Bedford-Stuyvesant  40.68688
3              Rebecca            Brooklyn         Sunset Park  40.66120
8               Laurie            Brooklyn         South Slope  40.66829
11       Allen & Irina            Brooklyn        Williamsburg  40.70837
...                ...                 ...                 ...       ...
46517             Omer            Brooklyn        Williamsburg  40.71970
46518        Elisabeth            Brooklyn       Crown Heights  40.67302
46519  Michael + Josué            Brooklyn        Clinton Hill  40.69034
46524           Nicole            Brooklyn       East Flatbush  40.65399
46526           Marina            Brooklyn           Gravesend  40.59945

       longitude        room_type  price  minimum_nights  number_of_reviews  \
1      -73.95976  Entire home/apt     75               1                340
2      -73.95596     Private room     60              29                 50
3      -73.99423  Entire home/apt    175              14                  1
8      -73.98779     Private room     88               4                180
11     -73.95352  Entire home/apt    109               2                181
...          ...              ...    ...             ...                ...
46517  -73.95632     Private room     55              14                  0
46518  -73.91695     Private room     61              30                  0
46519  -73.96179  Entire home/apt    253              30                  0
46524  -73.93287     Private room     59               3                  0
46526  -73.98209     Private room     66               1                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
1      2020-08-01               4.75                               1
2      2019-12-02               0.37                               1
3      2014-01-02               0.01                               1
8      2020-03-18               1.31                               3
11     2020-03-16               1.32                               1
...           ...                ...                             ...
46517         NaN                NaN                               1
46518         NaN                NaN                               5
46519         NaN                NaN                               1
46524         NaN                NaN                               1
46526         NaN                NaN                               1

       availability_365
1                   265
2                   365
3                   295
8                   344
11                    0
...                 ...
46517                45
46518               363
46519                74
46524                90
46526                38

[18632 rows x 16 columns]
18632

In [6]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
print(df_bk[df_bk['price'] < 100].shape[0])

10473

In [7]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

print(listings[listings['host_name'].isin(['Michael', 'David', 'John', 'Daniel'])])

             id                                               name    host_id  \
52        16595  LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...      64522
201       61747              Cozy,  Brooklyn, Prospect Park Studio     299370
209       62903  Beautiful modern studio apartment in heart of NYC     306605
220       64015                       Prime East Village 1 Bedroom     146944
260       74073       Food & Music Dream Apartment in Williamsburg     211877
...         ...                                                ...        ...
46362  44639591  Central & Stylish 1 Bedroom Apt - Heart of Che...  286136716
46396  44661297                       Flushing Sunshine home  #101  361579037
46403  44662157                        Flushing Sunshine home #102  361579037
46455  44697211                           David’s Queen Sized Room  343477029
46508  44797527    Long-Term: Furnished Apt in Nolita w/ Amenities   19448640

      host_name neighbourhood_group              neighbourhood  latitude  \
52       Daniel            Brooklyn               Williamsburg  40.70933
201       David            Brooklyn  Prospect-Lefferts Gardens  40.65979
209      Daniel           Manhattan                    Chelsea  40.74238
220       David           Manhattan               East Village  40.72807
260      Daniel            Brooklyn               Williamsburg  40.71113
...         ...                 ...                        ...       ...
46362      John           Manhattan                    Chelsea  40.74568
46396    Daniel              Queens                   Flushing  40.74603
46403    Daniel              Queens                   Flushing  40.74441
46455     David              Queens               Far Rockaway  40.59460
46508     David           Manhattan                     Nolita  40.72289

       longitude        room_type  price  minimum_nights  number_of_reviews  \
52     -73.96792  Entire home/apt    271               1                172
201    -73.96180  Entire home/apt     91              14                 97
209    -73.99567  Entire home/apt    205              15                 68
220    -73.98594  Entire home/apt    200               3                  0
260    -73.96054  Entire home/apt    187              30                 90
...          ...              ...    ...             ...                ...
46362  -73.99694  Entire home/apt    110              30                  0
46396  -73.82837     Private room     52               1                  0
46403  -73.82829     Private room     55               1                  3
46455  -73.75875     Private room     95               1                  0
46508  -73.99400  Entire home/apt    140              30                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
52     2020-07-14               1.44                               1
201    2018-01-31               0.83                               1
209    2019-12-14               0.67                               2
220           NaN                NaN                               1
260    2020-07-31               0.81                               1
...           ...                ...                             ...
46362         NaN                NaN                               3
46396         NaN                NaN                               2
46403  2020-08-16               3.00                               2
46455         NaN                NaN                               1
46508         NaN                NaN                               1

       availability_365
52                  365
201                  44
209                  89
220                   0
260                 261
...                 ...
46362               110
46396               360
46403               365
46455               365
46508               282

[1258 rows x 16 columns]

In [12]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

listings['adjusted_price'] = listings['price']
listings.loc[listings['neighbourhood'] == "Williamsburg", 'adjusted_price'] += 100;
print(listings)

             id                                               name    host_id  \
0          2595                              Skylit Midtown Castle       2845
1          3831  Whole flr w/private bdrm, bath & kitchen(pls r...       4869
2          5121                                    BlissArtsSpace!       7356
3          5136           Spacious Brooklyn Duplex, Patio + Garden       7378
4          5178                   Large Furnished Room Near B'way　       8967
...         ...                                                ...        ...
46522  44807522         Designer Gramercy Studio Townhouse by UNSQ   12941925
46523  44807786  Cozy & comfy apt in the heart of Inwood Manhattan  284790520
46524  44811717  Comfortable safe environment 24hr security camera  362453686
46525  44814944                 Upper West Side studio 86th Street    4039777
46526  44818009  5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN   48098268

         host_name neighbourhood_group       neighbourhood  latitude  \
0         Jennifer           Manhattan             Midtown  40.75362
1      LisaRoxanne            Brooklyn        Clinton Hill  40.68514
2            Garon            Brooklyn  Bedford-Stuyvesant  40.68688
3          Rebecca            Brooklyn         Sunset Park  40.66120
4         Shunichi           Manhattan      Hell's Kitchen  40.76489
...            ...                 ...                 ...       ...
46522        Brian           Manhattan            Gramercy  40.73433
46523        Salar           Manhattan  Washington Heights  40.85820
46524       Nicole            Brooklyn       East Flatbush  40.65399
46525     Fernando           Manhattan     Upper West Side  40.78731
46526       Marina            Brooklyn           Gravesend  40.59945

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.98377  Entire home/apt    175               3                 48
1      -73.95976  Entire home/apt     75               1                340
2      -73.95596     Private room     60              29                 50
3      -73.99423  Entire home/apt    175              14                  1
4      -73.98493     Private room     65               2                473
...          ...              ...    ...             ...                ...
46522  -73.98383  Entire home/apt    145               7                  0
46523  -73.92733  Entire home/apt     87               6                  0
46524  -73.93287     Private room     59               3                  0
46525  -73.97029  Entire home/apt     80              30                  0
46526  -73.98209     Private room     66               1                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2019-11-04               0.37                               2
1      2020-08-01               4.75                               1
2      2019-12-02               0.37                               1
3      2014-01-02               0.01                               1
4      2020-03-15               3.44                               1
...           ...                ...                             ...
46522         NaN                NaN                               1
46523         NaN                NaN                               2
46524         NaN                NaN                               1
46525         NaN                NaN                               1
46526         NaN                NaN                               1

       availability_365  adjusted_price
0                   365             175
1                   265              75
2                   365              60
3                   295             175
4                   340              65
...                 ...             ...
46522               164             145
46523                85              87
46524                90              59
46525               113              80
46526                38              66

[46527 rows x 17 columns]

In [22]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
print(listings['room_type'].unique())
totalNum = listings['room_type'].shape[0]
PrivNum = listings[listings['room_type'].isin(['Private room'])].shape[0];
SharedNum = listings[listings['room_type'].isin(['Shared room'])].shape[0];

print(f"Total Percent for Private: {round(PrivNum / totalNum, 2) * 100} %")
print(f"Total Percent for Shared: {round(SharedNum / totalNum, 2) * 100 } %")

['Entire home/apt' 'Private room' 'Shared room' 'Hotel room']
Total Percent for Private: 45.0 %
Total Percent for Shared: 2.0 %

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [26]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

groupList = listings.groupby('neighbourhood_group')

for group_key, group_data in groupList:
    print(f"{group_key}: {group_data.shape[0]}")

Bronx: 1183
Brooklyn: 18632
Manhattan: 20580
Queens: 5791
Staten Island: 341

In [28]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

for group_key, group_data in groupList:
    print(f"{group_key}: {group_data['price'].mean()}")

Bronx: 92.75147928994083
Brooklyn: 120.22525762129669
Manhattan: 191.8804664723032
Queens: 99.75496460024175
Staten Island: 110.94721407624634

In [31]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
groupType = listings.groupby('room_type')

for group_key, group_data in groupType:
    print(f"{group_key}: {group_data['price'].mean()}")

Entire home/apt: 199.39594966247188
Hotel room: 275.0150753768844
Private room: 91.45308361710178
Shared room: 87.06382978723404

In [35]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

result = groupList.agg({
    'price': ['max', 'min'] 
}
)

print(result)

                     price
                       max min
neighbourhood_group
Bronx                 1404  16
Brooklyn             10000   0
Manhattan            10000   0
Queens               10000   0
Staten Island         1200  19

In [49]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

grouped = listings.groupby('neighbourhood_group')

mean_price = grouped['price'].mean()

print(mean_price)

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [52]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
grouped = listings.groupby(['neighbourhood_group', 'room_type'])
distribution = grouped['price'].agg(['count', 'min', 'max', 'mean', np.median, 'std'])
distribution.rename(columns={'median': 'median'}, inplace=True)
print(distribution)

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

C:\Users\colin\AppData\Local\Temp\ipykernel_18820\3105705286.py:4: FutureWarning: The provided callable <function median at 0x000001DC1F8B2340> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  distribution = grouped['price'].agg(['count', 'min', 'max', 'mean', np.median, 'std'])

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [63]:
# 1. Load the `prices.csv` and the `n_listings.csv`
prices = pd.read_csv('./data/prices.csv')
n_listings = pd.read_csv('./data/n_listings.csv', delimiter=';')

In [64]:
# 2. Do join that keeps all the records for each table.
merged = pd.merge(prices, n_listings, how='outer', on='neighbourhood_group')
print(merged)

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

In [65]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
merged.to_csv('./data/joined.csv', index = False)

In [ ]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.